html {
}

body {
	color: black;
	font: 1.3em Verdana, 'Trebuchet MS', Arial, sans-serif;
	padding: 2%;
	margin: 3%;
}

header {
	font-size: 2em;
	margin: 0 0 20px;
	padding: 0 0 5px;
	border-bottom: 2px solid #ccc;
	color: #DD5F5F;
}

article {
	display: none;
	white-space: pre-wrap;
}

article:last-of-type {
	display: block;
}

article:target ~ article:last-of-type {
	display: none;
}

article:target {
	display: block;
}

img {
	cursor: pointer;
	display: block;
	width: 55px; height: 55px;
	margin-top: 10px;
}
